.plyr,
.js-plyr {
	--plyr-color-main: var(--ui-accent);
	--plyr-video-background: rgba(0, 0, 0, 1);
	--plyr-focus-visible-color: var(--ui-accent);
	--plyr-badge-background: var(--ui-accent);
	--plyr-badge-text-color: var(ui-text);
	--plyr-badge-border-radius: 2px;
	--plyr-captions-background: rgba(0, 0, 0, 0.8);
	--plyr-captions-text-color: var(ui-text);
	--plyr-control-icon-size: 18px;
	--plyr-control-spacing: 10px;
	--plyr-control-padding: 7px;
	--plyr-control-radius: 3px;
	--plyr-control-toggle-checked-background: var(--ui-accent);
	--plyr-video-controls-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
	--plyr-video-control-color: white;
	--plyr-video-control-color-hover: var(--ui-bg);
	--plyr-video-control-background-hover: var(--ui-accent);
	--plyr-audio-controls-background: transparent;
	--plyr-audio-control-color: var(--ui-accent);
	--plyr-audio-control-color-hover: var(--ui-bg);
	--plyr-audio-control-background-hover: var(--ui-accent);
	--plyr-menu-background: var(--ui-bg);
	--plyr-menu-color: var(--ui-accent);
	--plyr-menu-shadow: var(--ui-shadow);
	--plyr-menu-radius: 4px;
	--plyr-menu-arrow-size: 6px;
	--plyr-menu-item-arrow-color: #728197;
	--plyr-menu-arrow-color: var(--plyr-menu-item-arrow-color);
	--plyr-menu-item-arrow-size: 4px;
	--plyr-menu-border-color: #dcdfe5;
	--plyr-menu-border-shadow-color: var(--ui-shadow);
	--plyr-menu-back-border-color: var(--plyr-menu-border-color);
	--plyr-menu-back-border-shadow-color: var(--ui-shadow);
	--plyr-progress-loading-size: 25px;
	--plyr-progress-loading-background: rgba(35, 40, 47, 0.6);
	--plyr-range-thumb-height: 0px;
	--plyr-range-thumb-background: var(--ui-bg);
	--plyr-range-thumb-shadow: none;
	--plyr-range-thumb-active-shadow-width: 3px;
	--plyr-range-track-height: 5px;
	--plyr-range-fill-background: var(--ui-accent);
	--plyr-video-range-track-background: var(--ui-border);
	--plyr-video-range-thumb-active-shadow-color: var(--ui-shadow);
	--plyr-audio-range-track-background: var(--ui-border);
	--plyr-audio-range-thumb-active-shadow-color: var(--ui-shadow);
	--plyr-tooltip-background: rgba(255, 255, 255, 0.9);
	--plyr-tooltip-color: var(--ui-accent);
	--plyr-tooltip-padding: calc(var(--plyr-control-spacing) / 2);
	--plyr-tooltip-arrow-size: 4px;
	--plyr-tooltip-radius: 3px;
	--plyr-tooltip-shadow: var(--ui-shadow);
	--plyr-font-family: 'Roboto', Arial, sans-serif;
	--plyr-font-size-base: 15px;
	--plyr-font-size-small: 13px;
	--plyr-font-size-large: 18px;
	--plyr-font-size-xlarge: 21px;
	--plyr-font-size-time: var(--plyr-font-size-small);
	--plyr-font-size-menu: var(--plyr-font-size-small);
	--plyr-font-size-badge: 9px;
	--plyr-font-weight-regular: 400;
	--plyr-font-weight-bold: 600;
	--plyr-line-height: 1.7;
	--plyr-font-smoothing: false;
}
